# This is the general guide for options: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Standard: c++20
BasedOnStyle: Google
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
BreakBeforeBraces: Custom
UseTab: ForContinuationAndIndentation
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
SortIncludes: false
FixNamespaceComments: false

# Trying to not modify indentation of multiline comma seperated lists: https://stackoverflow.com/questions/50438234/prevent-indenting-of-multi-line-comma-separated-assignment
BinPackArguments: true
BinPackParameters: true

# For brace wrapping: https://stackoverflow.com/questions/29477654/how-to-make-clang-format-add-new-line-before-opening-brace-of-a-function
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  AfterClass: false
  SplitEmptyFunction: false
  AfterControlStatement: false
  AfterNamespace: false
  AfterFunction: false
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  