# NOTE: This is the root ignore set.
#       Please put conflicting ignores into sub folders or specialize them to avoid conflict.
#       /ext (3rd party compiled AND binary libraries) has its own ignores.
*.suo
*.sdf
*.user
*.obj
*.iobj
*.pch
*.ipch
*.tlog
*.tlb
*.log
*.lastbuildstate
*.pdb
*.ipdb
*.ilk
*.idb
*.sdf
*.opensdf
*.vc.db
*.vc.opendb
*.unsuccessfulbuild
*.cache
*.csv
UpgradeReport.*
UpgradeLog*.XML
*.vcxprojResolveAssemblyReference.cache
*.intermediate.manifest
*.old
*.user
*.ncb
*.psess
*.vsp
*.aps
*.ib_pdb_index
*.db-shm
*.db-wal
storage.ide
log*.txt
*.db-shm
*.db-wal
storage.ide
**.vs/
obj/
Debug_x64/
Release_x64/
ReleaseNoOpt_x64/
deployed/
build/